html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 3em;
    flex: 1;
}

[v-cloak] {
    display: none;
}

.switch label input[type = checkbox]:checked + .lever:after {
    background-color: #FB102B;
}

